@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
}
section {
    margin: auto;
    width: 100%;
    height: 100%;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.heading h1.heading_first  {
    font-size: 40px;
    font-weight: 100;
    color: var(--veryDarkBlue);
}

.heading h1.heading_second  {
    font-size: 40px;
}

.heading p {
    font-weight: 100;
    text-align: center;
    width: 30%;
    color: var(--grayishBlue);
    
}

.wrapper {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
    max-width: 1100px;
    height: 60vh;
}

.wrapper > div {
   box-shadow: 1px 2px 10px 2px var(--grayishBlue);
}

.box {
    width: 100%;
    padding: 40px 20px;
    color: #FFF;
    border-radius: 5px;
    position: relative;
}
.box h3 {
    color: var(--veryDarkBlue);
}
.box p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    color:var(--grayishBlue);
}
.box .image {
    /* border: 1px solid red; */
    width: 98%;
    height: 60%;
    position: relative;
}

.box .image img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.a, .b, .c, .d {
    height: 300px;
    align-self: center;
}
.a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
}
.b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 3;
}
.c {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.d {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box.a {
    border-top: 3px solid var(--red);
}
.box.b {
    border-top: 3px solid var(--cyan);
}
.box.c {
    border-top: 3px solid var(--blue);
}
.box.d {
    border-top: 3px solid var(--orange);
}

@media(max-width: 800px){
    section {
        margin: 0px auto 20px;
        height: 0px;
    }
    .heading h1.heading_first {
        font-size: 25px;
    }
    .heading h1.heading_second {
        font-size: 25px;
    }
    .heading p {
        width: 100%;
    }

    .wrapper {
        width: auto;
        height: auto;
        padding-bottom: 40px;
    }
    .wrapper > div {
        margin: auto;
        width: 90%;
        height: 230px;
    }

    .a {
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:2;
    }
    .b {
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:2;
        grid-row-end:3;
    }
    .c {
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:3;
        grid-row-end:4;
    }
    .d {
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:4;
        grid-row-end:5;
    }
}